<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975611257290-dt0kulv6fp0et5t860l618r8cet905es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975611257290-dt0kulv6fp0et5t860l618r8cet905es</string>
	<key>API_KEY</key>
	<string>AIzaSyC6YwZXK1AvCnUtWZPjZYHcrAdWzT8_qKE</string>
	<key>GCM_SENDER_ID</key>
	<string>975611257290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koldasUmut.snakeGame</string>
	<key>PROJECT_ID</key>
	<string>snakegame-5717c</string>
	<key>STORAGE_BUCKET</key>
	<string>snakegame-5717c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975611257290:ios:bf3103ab4fd3c5c2826f33</string>
</dict>
</plist>